/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  
  img {
    max-width: 240px;
  }

  /* Hero and Nav */
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #2C3D4F;
    padding: 1.5rem 5vw;
    font-size: 1.75rem;
    font-weight: 700;
    align-items: center;
}

ul{
      list-style: none;
      display: flex;
      font-size: 1rem;
}
ul > li{
      margin-right: 40px;
      cursor: pointer;
}
ul:last-child{
    margin-right: -30px;
}

.hero{
  background-color: #19BC9C;
  height: 80vh;
}
.hero > * {
  margin: 15px 0;
  font-weight: 600;
}

h1{
  font-size: 3rem;
}

.portfolio > *{
  color: #2C3D4F;
}

#star-back{
  color: #2C3D4F;
}

.about{
  background-color: #19BC9C;
  height: 700px;
}

.about > * {
  margin: 15px 0;
}

.flex > p{
  width: 400px;
  font-size: 1.2rem;
  margin: 10px 30px;
  font-weight: 500;
}

input, textarea{
  border: 0;
  border-bottom: 1px solid black;
  color: black;
  margin: 10px 0;
  padding-bottom: 10px;
  width: 500px;
}

input:focus, textarea{
  outline: none;
}

.portfolio > .line-container{
  margin-bottom: 30px;
}

.footer{
  background-color: #2C3D4F;
  height: 30vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.footer > div {
  flex: 1;
  flex: 1;
  padding: 16px;
}

.footer > div > * {
  text-align: center;
}

.footer > div > h3 {
  margin-bottom: 10px;
}

.cr{
  background-color: #1A252F;
  text-align: center;
  padding: 20px 0;
}

/* Utilities */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.line-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.line{
  border: 1;
  border-style: none;
  width: 130px;
  height: 4px;
  margin: 0 30px;
  border-radius: 3px;
}

.line-white{
  background-color: #fff;
}
.line-black{
  background-color: #2C3D4F;
}

.cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.cards>*{
  max-width: 400px;
  display: inline-block;
  width: 800px;
  margin: 10px 10px;
  border-radius: 10px;
}

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.btn{
  width: 240px;
  height: 66px;
  background-color: #19BC9C;
  border-color: #fff;
  color: #fff;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 1;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contact-line {
  color: red;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}

#download{
  margin-right: 10px;
}

th, td{
  padding: 3px 4vw;
}

.contact{
  display: flex;
  flex-direction: column;
  background-color: #19BC9C;
  align-items: center;
  min-height: 80vh;
}


#tableC{
  font-weight: 300;
}
